
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-primaria: #F1F1F1;
    --cor-secundaria: #00549F;
    --cor-terciaria: #67B5E3;
    --cor-hover-main: #589fc0;
    --cor-hover-cabecalho: #e2e2e2;

    --font-titulo: "Poppins", sans-serif;
    --font-texto: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}

.cabecalho{
    background-color: var(--cor-secundaria);
}
.cabecalho_imagem_titulo{
    display: flex;
    gap: 730px;
}

.cabecalho_imagem{
    max-width: 100px;
    margin: 10px;
    border-radius: 10px;
}

.cabecalho_tilulo{
    font-family: var(--font-titulo);
    font-size: 48px;
    color: var(--cor-primaria);
}

.cabecalho_link{
    display: flex;
    gap: 0px;
}

.cabecalho_link_servico{
        margin: 0px 0px 19px 790px;
        background-color:var(--cor-primaria);
        font-family: var(--font-texto);
        font-size: 20px;
        padding: 20px;
        text-align: center;
        width: 100px;
        text-decoration: none;
        color: black;
        border-radius: 10px;
}

.cabecalho_link_servico:hover{
    background-color: var(--cor-hover-cabecalho);
}

.cabecalho_link_contato{
    margin: 0px 0px 19px 20px;
    background-color:var(--cor-primaria);
    font-family: var(--font-texto);
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 100px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.cabecalho_link_contato:hover{
    background-color: var(--cor-hover-cabecalho);
}

.cabecalho_link_links{
    display: inline-block;
}

.apresentacao{
    padding: 10px 122px;
    display: flex;
    justify-content: space-between;
}

.apresentacao_bot{
    display: flex;
    flex-direction: column;
    gap: 47px;
}

.titulo_apresentacao{
    font-family: var(--font-texto);
    font-size: 36px;
    font-weight: 400;
}

.apresentacao_bot_texto{
    font-family: var(--font-texto);
    font-size: 16px;
    
}

.apresentacao_bot_chat{
    background-color: var(--cor-terciaria);
    width: 370px;
    text-align: center;
    font-size: 24px;
    font-family: var(--font-texto);
    padding: 275px 0px;
    border-radius: 10px;
}

 .apresentacao_opcoes_texto{
    margin: 90px 0px 0px 0px;
    font-family: var(--font-texto);
    font-size: 16px;
} 

.apresentacao_opcoes_opcao{
    margin: 46px 0px;
    background-color: var(--cor-terciaria);
    width: 370px;
    text-align: center;
    font-size: 24px;
    font-family: var(--font-texto);
    padding: 275px 0px;
    border-radius: 10px;
}

.apresentacao_mecanicos_texto{
    margin: 90px 0px 0px 0px;
    font-family: var(--font-texto);
    font-size: 16px;
}

.apresentacao_mecanicos_tabela{
    margin: 46px 0px;
    background-color: var(--cor-terciaria);
    width: 370px;
    text-align: center;
    font-size: 24px;
    font-family: var(--font-texto);
    padding: 275px 0px;
    border-radius: 10px;
}

.apresentacao_pagamento{
    display: flex;
    background-color: var(--cor-terciaria); 
    text-align: right;
    font-size: 24px;
    font-family: var(--font-texto);
    padding: 15px 11px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin: 0px 100px 10px 100px;
}

.apresentacao_pagamento:hover{
    background-color: var(--cor-hover-main);
}

.rodape{
    background-color: var(--cor-secundaria);
}

.rodape_links{
    display: flex;
    gap: 30px;
}

.rodape_sobre{
    margin: 10px 0px 10px 550px;
    background-color:var(--cor-primaria);
    font-family: var(--font-texto);
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.rodape_sobre:hover{
    background-color: var(--cor-hover-cabecalho);
}

.rodape_servico{
    margin: 10px 0px 10px 0px;
    background-color:var(--cor-primaria);
    font-family: var(--font-texto);
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.rodape_servico:hover{
    background-color: var(--cor-hover-cabecalho);
}

.rodape_privacidade{
    margin: 10px 0px 10px 0px;
    background-color:var(--cor-primaria);
    font-family: var(--font-texto);
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 200px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.rodape_privacidade:hover{
    background-color: var(--cor-hover-cabecalho);
}


.rodape_copy_right{
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 20px;
    color: var(--cor-primaria);

}

.apresentacao_serviços{
    display: flex;
}

.div_atendimento_gincho{
    padding: 2% 0% 0% 16%;
}

.apresentacao_serviços_titulo_atendimento{
    display: flex;
    flex-direction: column;
}

.apresentacao_serviços_titulo{
    font-family: var(--font-titulo);
    font-size: 225%;
    font-weight: 300;
}

.texto_atendimento{
    display: flex;
    flex-direction: column;
    padding: 0% 0% 0% 7%;
}

.titulo_atendimento{
    font-family: var(--font-texto);
    text-align: center;
    font-size: 100%;
}

.paragrafo_atendimento{
    font-family: var(--font-texto);
    font-size: 100%;
    text-align: center;
}

.apresentacao_serviços_atendimento{
    display: flex;
    padding: 16% 0% 0% 0%;
}

.texto_gincho{
    display: flex;
    flex-direction: column; 
}

.titulo_gincho{
    font-family: var(--font-texto);
    text-align: center;
    font-size: 100%;
}

.paragrafo_gincho{
    font-family: var(--font-texto);
    font-size: 100%;
    text-align: center;
}

.apresentacao_serviços_gincho{
    display: flex;
    padding: 26% 0% 0% 0%;
}


